/* 全体中央寄せ */
.confirm {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

/* 確認フォーム全体の幅 */
.confirm-form {
    margin: 0 auto;
    width: max(50vw, 400px);
}

.confirm-form__table {
    width: 100%;
    border-spacing: 10px;
}

.confirm-form__item {
    margin: 10px;
    padding: 5px;
    text-align: left;
}

.confirm-form__item--header {
    margin: 0 5% 0 0;
    padding: 10px;
    width: 150px;
    height: 40px;
}

/*************
 * ボタン群
**************/
.confirm-form__button--submit{
    margin: 5%;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.confirm-form__button--fix {
    margin: 5%;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    background: lightgray;
    color: #000;
    cursor: pointer;
}