/* 全体中央寄せ */
.inquiry {
    margin: 0 auto;
    display: flex;
    text-align: center;
}

/* 入力フォーム全体の幅 */
.inquiry-form {
    margin: 0 auto;
    width: 70%;
}

.inquiry-form__table {
    width: 100%;
}

.inquiry-form__item {
    text-align: left;
    vertical-align: baseline;
}

.inquiry-form__item--header {
    margin: 0 5% 0 0;
    position: relative;
    top:10px;
    width: 100%;
}

/* 必須項目 */
.required-mark::after {
    content: "※";
    color: #f00;
    font-size: 1em;
    margin-left: 0.3em;
}

.inquiry-form__item--input {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    &.error{
        background-color: #F0D0D0;
        border: 1.5px solid #f00;
    }
}

.inquiry-form__item--textarea.error {
    background-color: #F0D0D0;
    border: 1.5px solid #f00;
}

.inquiry-form__item--example {
    margin: 0 0 15px 0;
    color: gray;
}

.inquiry-form__item--radio {
    margin: 10px 0;
    accent-color: #000;
    inline-size: 2rem;
    block-size: 2rem;
    vertical-align: middle;
}

.inquiry-form__item--radio-label {
    margin: 0 10% 0 0;
}

.postcode--input {
    display: flex;
    & label{
        margin: 10px 15px;
        text-align: center;
    }
}
.inquiry-form__item--postcode{
    width: 100%;
}


.inquiry-form__item--textarea {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
    &.error {
            background-color: #F0D0D0;
            border: 1.5px solid #f00;
        }
}

.inquiry-form__button {
    margin: 15px auto;
    padding: 10px;
    width: 20%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.inquiry-form__item--error {
    margin: 0;
    padding: 0;
    color: #f00;
    min-height: 1em;
    height: 1em;
    font-size: 12px;
}

